
section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.odd-sec {
    background-color: var(--bg-pink);
}

.even-sec {
    background-color: var(--bg-green);
}

.sec-cont{
    width: 60%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.even-sec > .sec-cont {
    flex-direction: row-reverse;
}

.sec-img-cont {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-img-cont > img {
    width: 60%;
}


.sec-txt-cont {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items:center;
}

.sec-txt-cont> *:not(:last-child) {
   margin-bottom: 0.75em;
}



.sec-txt-cont .sec-header {
    color: var(--bg-pink-header);
    font-weight: bold;
    text-align: center;
    font-size: 48px;
}

.sec-txt-cont .sec-sheader {
    font-size: 36px !important;
}

.even-sec .sec-txt-cont .sec-header {
    color: var(--bg-green-header);
}

.sec-txt-cont p {
    color: var(--bg-green-subheader);
    text-align: center;
    font-size: 28px;
}

.even-sec .sec-txt-cont p {
    color: var(--bg-green-subheader);
}

.sec-txt-cont .sec-syap {
    font-size: 22px;
}

.sec-txt-cont .sec-yap {
    font-size: 18px;
}

.odd-btn {
    background-color: var(--bg-green);
}

.even-btn {
    background-color: var(--bg-pink);
}

.arrow-btn {
    transform: rotate(90deg);
    padding: 0.75em;
    border-radius: 50%;
    font-size: 22px;
    font-weight: 800;
    text-align: center;
    margin-top: 1em;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.arrow-btn:hover {
    transform: translateY(-1em) rotate(90deg);
}

.arrow-btn:active {
    transform: translateY(1em) rotate(90deg);
}


.cta-btn {
    padding: 0.65em 1.5em;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 300ms all ease-in-out;
}

.cta-btn:hover {
    background-color: transparent;
    color: var(--bg-green);
    border: 3px solid var(--bg-green);
}

.cta-btn.even-btn:hover {
    background-color: transparent;
    color: var(--bg-pink);
    border: 3px solid var(--bg-pink);
}

.last-two {
    width: 70% !important;
}

@media screen and (min-width:320px) and (max-width:768px)  {
    br {
        display: none;
    }
    .sec-cont, .even-sec >.sec-cont {
        width: 90%;
        padding: 1em;
        flex-direction: column;
    }

    .sec-cont > *:not(:last-child) {
        margin-bottom: 1em;
    }

    .sec-img-cont {
        width: 80%;
        height: 100%;
    }

    .sec-txt-cont {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .sec-txt-cont .sec-header {
        font-size: 23px;
    }

    .sec-img-cont > img {
        width: 70%;
    }
    .sec-txt-cont> *:not(:last-child) {
        margin-bottom: 0.85em;
    }

    .sec-txt-cont > button {
        margin-top: 1.25em;
    }

    .arrow-btn {
        font-size: 18px;
    }

    .sec-txt-cont p {
        font-size: 16px;
    }
    .sec-txt-cont .sec-yap , .sec-txt-cont .sec-syap  {
        font-size: 14px;
    }

    .sec-txt-cont .sec-sheader {
        font-size: 22px !important;
    }

    section {
        height: 145vh;
    }

}

@media screen and (max-width:450px)  {
    section {
        height: 135vh;
    }

    .sec-txt-cont .sec-header {
        font-size: 25px;
    }

    .sec-img-cont > img {
        width: 60%;
    }
}


@media screen and (min-width:1020px) and (max-width:1440px) {

    .sec-txt-cont .sec-header {
        font-size: 26px;
    }

    .sec-txt-cont p {
        font-size: 18px;
    }

    .sec-txt-cont .sec-yap, .sec-txt-cont .sec-syap {
        font-size: 16px;
    }

}