@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-green : #58DAC7;
    --bg-pink: #FF66C4;
    --bg-pink-header:#FFE7E7;
    --bg-pink-subheader:#F3D0D0;
    --bg-green-header:#E7FFEF;
    --bg-green-subheader:#D0F3E6;
}

br {
    display: inline;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:white;
    text-decoration: none;
    border:0;
    font:inherit;
    vertical-align:baseline;
}

body {
    font-family: "Fira Sans", sans-serif;
    text-align: center;

}

body::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background: #F3D0D0; /* Background color of the track */
}

body::-webkit-scrollbar-thumb {
  background-color: #FF66C4; /* Color of the scrollbar thumb */
  border-radius: 2px; /* Rounded corners for the thumb */
}

header {
    width: 100%;
    height: 100px;
    background-color: var(--bg-pink);
    z-index: 10;
    position: fixed;
    top: 0;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#logo-link {
    height: 75%;
}
#logo-link img {
    height: 100%;
}


#nav-items {
    list-style: none;
}

.nav-item {
    display: inline;
    font-size: 24px;
    font-weight: bolder;
    position: relative;
}

.nav-item:not(:last-of-type) {
    margin-right: 20px;
}

.nav-item > a {
    -webkit-text-stroke-color: var(--bg-green);
    -webkit-text-stroke-width: 0px;
}


.nav-item:hover > a {
    -webkit-text-stroke-width: 1px;
    color: var(--bg-pink);
}


.nav-item> a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: var(--bg-green);
    height: 30%;
    border-radius: 5px;
    z-index: -1;
    transition: all 300ms ease-in-out;
}

.nav-item:hover > a::after {
    width: 95%;
}

footer {
    height: 11.5vh;
    width: 100%;
    background-color: #1A1623;
    padding: 8px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer > *:not(:first-child){
    margin-left: 15px;
}

footer > #socials *:not(:first-child){
    margin-left: 15px;
}

footer > img{
    height: 80%;
}

footer #copyright-txt{
    font-size: 18px;
    font-weight: 600;
}

footer #socials {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social {
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-green);
    border-radius: 50%;
    padding: 5px;
}

footer .social a {
    height: 80%;
    width: 80%;
}

footer .social a img {
    max-width: 100%;
    max-height: 100%;
}

#nav-cta-btn {
    padding: 0.65em 1.5em;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 300ms all ease-in-out;
    background-color: var(--bg-green);
}

#nav-cta-btn:hover {
    background-color: transparent;
    color: var(--bg-green);
    border: 3px solid var(--bg-green);
}

@media screen and (min-width:320px) and (max-width:768px) {

    
    header {
        height: 75px;
    }
    .nav-item {
        display: none;
    }
    #nav-cta-btn {
        display: none;
    }
    .sidebar {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: var(--bg-green); /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 15px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
      }
      
      /* The sidebar links */
      .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      /* When you mouse over the navigation links, change their color */
      .sidebar a:hover {
        color: #f1f1f1;
      }
      
      /* Position and style the close button (top right corner) */
      .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      /* The button used to open the sidebar */
      .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: var(--bg-green);
        color: var(--bg-pink);
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        font-weight: 700;
      }
      
      .openbtn:hover {
        background-color: transparent;
        color: var(--bg-green);
        border: var(--bg-green) 1px solid;
      }
      
      /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
      #main {
        transition: margin-left .5s; /* If you want a transition effect */
        padding: 20px;
      }
      
      /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    footer {
        height:75.5vh;
        flex-direction: column;
        padding: 1em;
    }

    footer > img {
        width: 5em;
        height: 5em;
    }

    #copyright-txt {
        font-size: 16px;
        line-height: 2em;
    }

    #copyright-txt span::after  {
        content: "\a";
        white-space: pre;
    }

    footer > *:not(:first-child) {
        margin-top: 30px;
        margin-left: 0;
    }

    footer #socials {
        width: 75%;

        
    }

    footer .social {
        width: 24px;
        height: 24px;
        display: flex;
        padding: 0;
    }

    footer .social a {
        height: 70%;
        width: 70%;
    }

}

@media screen and (min-width:450px) and (max-width : 768px) {
    .sec-img-cont > img {
        width: 35% !important;
    }

    .last-two {
        width: 35% !important;
    }

    footer {
        height: 82.5vh;
        padding: 2em;
    }
}

@media screen and (min-width:1020px) and (max-width:1440px) {
    .nav-item {
        font-size: 20px;
    }

    footer {
        padding: 1em;
        height: 17.5vh;
    }
}

@media screen and (min-width:1020px) {
    #mySidebar, #main {
        display: none;
    }
}